
<%= link_to 'My Blog', controller: 'articles' %>
<!DOCTYPE html>
<html>
  <head>
    <title>An Unexpected Journey</title>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:900|Raleway:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
  	<div class="container">
  		<h1>Made out of rock</h1>
  	  <a class="btn" href="articles">Get Started</a>
  	</div>
  </body>
</html>
